<tr>
  <td><%= badge.title %></td>
  <td class:="align-middle">
    <%= link_to 'Edit', edit_admin_badge_path(badge)%>
  </td>
  <td class:="align-middle">
    <%= link_to 'Delete',
                admin_badge_path(badge),
                method: :delete,
                data: { confirm: "Are you shure?" } %>
</tr>
