<% if @badges.blank? %>
  <h1>No badges</h1>
<% else%>
  <h1>Badges</h1>
    <table>
      <tr>
        <th>Title</th>
        <th colspan="2">Actions</th>
      </tr>

      <%= render @badges %>

  </table>
<% end %>
