<p>
  <%= year_now %>
</p>


<p>
  <%= github_url("Alexandr Burov", "https://github.com/Asdfif/TestGuru") %>
</p>

<p>
  Данный проект - сайт для прохождения тестов различных категорий и различной сложности.
</p>

<p>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/' %>
</p>
